{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "ignorePatterns": ["node_modules/", "lib/", "coverage/"],
  "extends": ["eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0,
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ]
  }
}
